.logo {
  margin-left: -30%;
}

.nav-bar {
  padding-bottom: 6% !important;
}

.button-admin .bk-button {
  background-color: #333;
}

Link {
  color: white;
}

/* Responsive  */

@media only screen and (max-width: 688px) {
  .nav-bar {
    background-color: #f2ece1 !important;
    padding-bottom: 10% !important;
  }
  .logo {
    width: 100%;
    margin-left: -30%;
  }
}
