.logo {
  margin-left: -35%;
}

.nav-bar {
  padding-bottom: 6% !important;
}

.button-my-Booking .bk-button {
  background-color: #333;
  color: white;
}

.nav-style {
  color: #333;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-style:hover {
  background-color: #ffb192;
  color: white;
}

/* Responsive  */

@media only screen and (max-width: 688px) {
  .nav-bar {
    background-color: #f2ece1 !important;
    padding-bottom: 10% !important;
  }
  .logo {
    width: 100%;
    margin-left: -30%;
  }
}
