.booking {
  background-color: #ffb192;
  border-radius: 8px;
}

.booking-form {
  margin: 30px 150px;
}
.booking-form input {
  display: block;
  margin-top: 30px;
  padding: 5px;
  border: none !important;
  border: 1px solid #ffb192;
  border-radius: 5px;
  width: 300px;
}

.booking-form input:focus {
  outline: none !important;
  outline: 2px solid #f18f68 !important;
}

.booking-input-button {
  width: 90%;
}
.error {
  color: red;
}

.booking-tite {
  background-color: #ffb192;
  padding: 2%;
  border-radius: 8px;
  color: white;
}

.booking-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.img {
  width: 100px;
  height: 100px;
}

.location {
  width: 200px;
}
.button {
  margin-left: 1%;
  margin-right: 1%;
}

.button-pending .bk-button {
  background-color: #ffb192;
  color: white;
}
.button-delete .bk-button {
  background-color: #f80303;
  color: white;
}
/* Responsive Design */

@media only screen and (max-width: 688px) {
  .booking {
    padding-bottom: 10%;
  }
  .booking-list {
    display: flex;
    flex-direction: column;
    /* margin-top: 10%; */
  }

  .img,
  .location,
  .button {
    margin-top: 5%;
  }

  .booking-form input {
    display: block;
    margin-top: 5%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
  }

  .booking-form {
    margin: 0px 0px;
  }

  .booking-input-button {
    width: 60%;
  }

  .booking-tite {
    margin-top: 30px;
  }
}
